body
{
	background-color: black;
}

#header
{	
	display: flex;
	width: 80%;
	margin: auto;
	background-color: #c4bebd ;
	justify-content: space-around;
	font-size: x-large;
}

#logo
{
	height: 250px;
	
}

.headerA
{	
	font-size: 200%;
	color: black;
	margin: auto;
}

#OnebestFilmSection
{
	width: 80%;
	margin: auto;
	background-color: black;
	color : white;
}
#bestFilm
{
	display: none;
}

#aside-picture

{
	width: 25%;	
	margin-top: 1%;
	float: right
}

#titreBestFilm
{
	font-size: 300%;
	text-align: center;
}

#play-BestFilm

{
	margin-left: 30%;

}

#play-BestFilm:hover {
	cursor:pointer;
}

#description
{	
	width: 74%;
	padding-top: 2%;
	text-align: center;
}


#container
{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.titre-section
{
	color: white;
	text-align: center;
	width: 70%;
	font-size: 224%;
	margin-bottom: 0%;
	margin-top: 5%;
}

#bestFilmImdb, #bestFilmSection1, #bestFilmSection2, #bestFilmSection3
{
	width: 154%;
	margin: auto;
	background-color: black;
	overflow-x: hidden;
}

.movie
{
	display: inline-block;
	color: white;
	width: 13%;
	text-align: center;
}

.movie:hover {
	cursor:pointer;
}

.fl
{
	position: absolute;
	width: 1%;
	cursor: pointer;
	margin-left: -2%;
 	margin-top: 13%;
}

.fr
{
	width: 1%;
	position: absolute;
	margin-left: 81%;
	margin-top: -10%;
	cursor: pointer;
	margin-top: 13%;
}

#modale
{
	position: fixed;
	width: 60%;
	background-color: black;
	color: white;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-color: black;
}

dialog::backdrop
{
  background: rgba(0,0,0,0.8);
}

#movieDescription
{	
	display: inline-block;
	width: 40%;
}

#modale img
{
	width: 30%;
	float: left;
}

#modale h1
{
	text-align: center;
}

#modale ul
{
	list-style: none;
	margin-left: 28%;
}

#movieSynopsis
{
	margin-left: 32%;
}

#modale_quit
{
	margin-left: 98%;
	text-decoration: none;
	font-size: 25px;
	color: white;
}

#modale_quit:hover
{
	cursor:pointer;
}