
#header
{	
	display: flex;
	border: 2px black solid;
	width: 80%;
	margin: auto;
	background-color: #c4bebd ;
	justify-content: space-around;
	font-size: x-large;
}

#logo
{
	height: 200px;
	
}

.header-a
{	

	color: black;
	margin: auto;
}

#OnebestFilmSection
{
	display: flex;
	border: 2px black solid;
	width: 80%;
	margin: auto;
	justify-content: space-around;
	background-color: black;
	color : white;
}

#article-BestFilm
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	width: 60%;
	text-align: center
}

#titreBestFilm
{
	font-size: 300%;
}

#aside-picture
{	
	margin-top: 5%;
	width: 20%;
	background-position: center;
	background-repeat: no-repeat round;
}

#bestFilmImdb, #bestFilmSection1, #bestFilmSection2, #bestFilmSection3
{
	display: flex;
	border: 2px black solid;
	width: 80%;
	margin: auto;
	justify-content: space-around;
	background-color: black;
}

.movie
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	width: 60%;
	text-align: center
}

.movie:hover {
	cursor:pointer;
}

